.rtpDatePicker{
    padding-bottom:10px;
    margin-bottom:5px;
    display:inline-block;
}

.darkbg{
    background-color: rgba(55, 55, 55, 0.1);
}
.sumrow{
    background: rgba(229, 229, 116, 0.5);
    font-weight: bold;
}
.sentEmail{
    border-color: rgba(0,100,255,.5) !important;
    color: rgba(0, 58, 123, 0.5) !important
}
button{
    border: outset 2px;
    border-radius: 5px;
}
div.panel{
    background-color: transparent;
}