<md-card class="md-card">
  <md-card-title-group>
    <md-card-title class="app-input-section">{{name}} Branch</md-card-title>
  <md-card-subtitle>
    {{getSubtitle()}}
  </md-card-subtitle>
  </md-card-title-group>
<md-card-content>
<table class="table">
  <tr><th>Name</th><th>Times</th></tr>
  <tr *ngIf="vacantEmps.length>0">
    <td><input auto-complete [ngClass]="['name-picker']" [(ngModel)]="addedEmp" [source]="vacantEmps" #newEmp></td>
    <td><app-interval-input [date]="_date" [beingEdited]="true" (vChange)="addNew($event)"></app-interval-input></td>
  </tr>
  <tr><td colspan="3"><app-message-fade-out [bgClass]="'warning'" [message]="list.message"></app-message-fade-out></td></tr>
  <tr *ngFor="let k of engagedEmps">
    <td>{{list.items[k].name}}</td>
    <td>
      <span *ngFor="let wtid of workTimeIDs(k)">
      <app-interval-input [date]="_date" [initValue]="list.items[k].worktimes[wtid]" (vChange)="list.update(k,wtid,$event)" [beingEdited]="list.beingEdited[k][wtid]" (deleted)="list.delete(k,wtid)" [btnName]="'update'"></app-interval-input>
      </span>
      <div style="width:100%;border-top:1px solid beige"><app-interval-input [beingEdited]="true" [date]="_date" (vChange)="list.add(k,$event)"></app-interval-input></div>
    </td>
  </tr>
</table>
</md-card-content>
</md-card>