<md-card class="md-card">
  <md-card-title-group>
    <md-card-title class="app-input-section">{{name}} Branch</md-card-title>
  <md-card-subtitle>
    {{getSubtitle()}}
  </md-card-subtitle>
  </md-card-title-group>
  <md-card-actions>
    <button md-raised-button [disabled]="isLocked" color='primary' (click)="lock()">
      <md-icon fontSet="fa" [fontIcon]="isLocked?'fa-lock':'fa-unlock-alt'"></md-icon>
      {{isLocked?'Locked by: ' + lockedBy + ' at ' + lockedAt : 'Lock this branch'}}
    </button>
  </md-card-actions>
<md-card-content>
<table class="table">
  <tr><th>Name</th><th>Times</th><th>No Breaks</th></tr>
  <tr>
    <td><input auto-complete [(ngModel)]="addedEmp" [source]="vacantEmps"/></td>
    <td><app-interval-input [date]="_date" [beingEdited]="true" (vChange)="addNew($event)"></app-interval-input></td>
    <td><md-checkbox [(ngModel)]="addedEmpNoBreaks"></md-checkbox></td>
  </tr>
  <tr *ngFor="let k of engagedEmps">
    <td>{{list.items[k].name}}</td>
    <td>
      <span *ngFor="let wtid of workTimeIDs(k)">
      <app-interval-input [date]="_date" [initValue]="list.items[k].worktimes[wtid]" (vChange)="list.update(k,wtid,$event,this);this.beingEdited=false" (deleted)="list.delete(k,wtid)" [btnName]="'update'"></app-interval-input>
      </span>
      <div style="width:100%;border-top:1px solid beige"><app-interval-input [beingEdited]="true" [date]="_date" (vChange)="list.add(k,$event)"></app-interval-input></div>
    </td>
    <td><md-checkbox [(ngModel)]="list.items[k].nobreak" (change)="changeBreakType(k)"></md-checkbox></td>
  </tr>
</table>
</md-card-content>
</md-card>