select{
    font-family: digital-clock-font;
    color:darkorange;
    background: transparent;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0px;
    margin:0px;
    padding:0px;
    font-size:22px;
    height:40px;
    width:20px;
    paddint-bottom:1px;
}
select.running{
    color: mediumspringgreen;
}
div.select{
    color:white;
    font-size:22px;
    width:160px;
    display:inline-block;
    background:black;
    padding-left:10px;
    border-radius: 10px;
    border: solid 1px grey;
}

div.nowButton{
    color: white;
    font-size:12px;
    width:35px;
    padding:2px 2px 0px 0px;
    display:inline-block;;
    border: grey solid 1px;
    border-radius:6px;
    text-align:center;

}