<div style="padding-bottom:10px;margin-bottom:5px;">
    <a (click)="dateBack()">&lt;&lt;</a> <material-datepicker class="date-input" [date]="tDate" (onSelect)="onDateSelect($event)"></material-datepicker> <a (click)="dateForward()">&gt;&gt;</a>
</div>
<md-tab-group>
    <md-tab *ngFor="let branch of branches">
        <template md-tab-label>{{branch.name}}</template>
        <template md-tab-content>

                <app-branch-timesheet [bid]="branch.bid" [name]="branch.name" [date]="tDate"></app-branch-timesheet>

        </template>
    </md-tab>
</md-tab-group>