<md-card [ngClass]="['md-card', isNew?(updateEnabled?'md-add':''):(updateEnabled?'md-update':(isExpired?'md-expired':''))]">
  <md-card-title class="app-input-section">{{this.isNew ? 'New Employee' : this.value.toString() }}</md-card-title>
  <md-card-subtitle>{{subtitle}}</md-card-subtitle>
  <md-input placeholder="First name" maxlength="{{nameLength}}" [(ngModel)]="value.firstname" #firstname (change)="onChange()">
    <md-hint align="end">
      {{firstname.characterCount}} / {{nameLength}}
    </md-hint>
  </md-input>
  <md-input placeholder="Surname" maxlength="{{nameLength}}" #surname [(ngModel)]="value.surname" (change)="onChange()">
    <md-hint align="end">
      {{surname.characterCount}} / {{nameLength}}
    </md-hint>
  </md-input>
  <md-input placeholder="Rate" align="end" [(ngModel)]="value.rate" style="width:55px" (change)="onChange()">
    <span md-prefix>£</span>
  </md-input>
  <md-checkbox *ngIf="isNew" [(ngModel)]="value.isManager" (change)="onChange()">Manager</md-checkbox>
  <span *ngIf="!isNew&&value.isManager" class="manager">MANAGER: {{value.username}}</span>
  <div *ngIf="value.isManager&&isNew">†
    <md-input placeholder="Username" [(ngModel)]="value.username" #username (change)="onChange()"></md-input>
    <md-input type="Password"  placeholder="Password" [(ngModel)]="value.password" #password (change)="onChange()"></md-input>
  </div>
<div class="date-group">
    <div class="input-group">
      <span class="input-group-addon date-label" id="sizing-addon2">Start Date</span>
      <material-datepicker class="date-input" [date]="value.contractDate" (onSelect)="onStartDateSelect($event)"></material-datepicker>
    </div>
    <div class="input-group">
      <span class="input-group-addon date-label" id="sizing-addon2">End Date</span>
      <material-datepicker class="date-input" [date]="value.contractEnd" (onSelect)="onEndDateSelect($event)"></material-datepicker>
    </div>
</div>
  <md-card-actions>
    <button md-mini-fab [disabled]="!updateEnabled" (click)="action()" color="primary" title="{{(isNew?'Add ':'Update ')+ ' Employee Record'}}">
      <md-icon fontSet="fa" [fontIcon]="buttonType"></md-icon>
    </button>
    <button *ngIf="!isNew" md-mini-fab [disabled]="!deleteEnabled" (click)="remove()" color="accent" title="Delete Employee Record">
      <md-icon fontSet="fa" fontIcon="fa-times"></md-icon>
    </button>
  </md-card-actions>
</md-card>