div.date-group{
    white-space: nowrap;
    margin-left:10px;
    padding-top:22px;
    display:inline-block;
    vertical-align: middle;
}
span.date-label{
    width:90px;
}

.date-input{
    width:82px;
}
span.manager{
    font-size:75%;
    font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
    background-color: darkred;
    border: 1px #660000 solid;
    border-radius: 4px;
    margin: 0px 10px 0px 10px;
    padding: 2px;
    color: white;
    display:inline-block;
}